nav{
    display: flex;
}
#root{
    background-color: darkgray;
    background-image:url(../img/1616561185_56-p-nochnoe-nebo-fon-65-min.jpg);
    background-attachment: fixed ;
    background-position: top center;
    background-size: 100%;
}
.headerNav{
    background-color: #282c34;
    padding: 20px;
    background: rgba(0,0,0, 0.8);
}
.card.cardNew{
    background-color: #282c34;
    background: rgba(0,0,0, 0.8);
    color: blue;
}
.mainPage{
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    background-attachment: fixed ;
    background-position: top center;
    background-size: 100%;
}
.opacityPage{
    width: 1250px;
    /*margin: 0 auto;*/
    background: rgba(0,0,0, 0.8);
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -15px;
}
.page{
    width: 500px;
    height: 750px;
}
.pageText{
    width: 400px;
    text-align: inherit;
    margin-left: 15%;
}
.sidebar-filter{

}